<% if current_user %>
  <div class="message">
    <h1>Welcome, <%= current_user.name %></h1>
    <p>This is your personal garage. By clicking 'My garage' in the navigation bar, you can see the list of your cars. Each car has service records. You have everything you need to keep records.</p>
  </div>
<% else %>
  <div class="message">
    <h1>Welcome to MyGarageApp!</h1>
    <p>This app will help you track all the service records for all of your cars. Please, sign up or log in to start</p>
  </div>
<% end %>

<!--
<#% <p id=”notice”><%= notice %></p> %>
-->
