<% if current_user %>

<% else %>
  <div class="message">
    <h1>Welcome to MyGarageApp!</h1>
    <p>This app will help you track all the service records for all of your cars. Please, sign up or log in to start</p>
  </div>
<% end %>

<p id=”notice”><%= notice %></p>
